{% extends 'base.html' %}

{% block content %}
<section class="portfolio-hero-section">

    <div class="container">

        <div class="row align-items-center min-vh-75">

            <div class="col-lg-6">

                <span class="hero-tag">
                    Our Portfolio
                </span>

                <h1 class="hero-title">
                    Showcasing Innovation
                    Through Technology
                </h1>

                <p class="hero-description">

                    Explore a collection of websites,
                    web applications, business software,
                    and digital solutions developed by
                    Ashurya Technologies.

                </p>

            </div>

            <div class="col-lg-6 text-center">

                <img
                    src="https://images.unsplash.com/photo-1460925895917-afdab827c52f"
                    class="img-fluid rounded-4 shadow"
                    alt="Portfolio">

            </div>

        </div>

    </div>

</section>
<button id="scrollTopBtn" class="scroll-circle">
    <i class="bi bi-arrow-up"></i>
</button>
{% endblock %}