{% extends 'dashboard/base_dashboard.html' %}

{% block title %}
Lead Management
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between mb-4">

    <h2>

        Lead Management

    </h2>

</div>

<form method="GET"
      class="row mb-4">

    <div class="col-md-4">

        <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search Lead"
            value="{{ search }}">

    </div>

    <div class="col-md-3">

        <select
            name="status"
            class="form-control">

            <option value="">
                All Status
            </option>

            <option value="new">
                New
            </option>

            <option value="contacted">
                Contacted
            </option>

            <option value="discussion">
                Discussion
            </option>

            <option value="proposal">
                Proposal Sent
            </option>

            <option value="won">
                Won
            </option>

            <option value="lost">
                Lost
            </option>

        </select>

    </div>

    <div class="col-md-2">

        <button
            class="btn btn-primary">

            Filter

        </button>

    </div>

</form>


<div class="card p-3">

    <table class="table">

        <thead>

            <tr>

                <th>Name</th>

                <th>Email</th>

                <th>Service</th>

                <th>Status</th>

                <th></th>

            </tr>

        </thead>

        <tbody>

            {% for lead in leads %}

            <tr>

                <td>

                    {{ lead.name }}

                </td>

                <td>

                    {{ lead.email }}

                </td>

                <td>

                    {{ lead.service }}

                </td>

                <td>

                    {{ lead.status }}

                </td>

                <td>

                    <a href="{% url 'lead_detail' lead.id %}"
                       class="btn btn-sm btn-primary">

                        View

                    </a>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}